.paneBg {
    -fx-background-color:#77b0eb;
}
.buttonStart {
      -fx-background-color:
            linear-gradient(#f0ff35, #a9ff00),
            radial-gradient(center 50% -40%, radius 200%, #b8ee36 45%, #80c800 50%);
        -fx-background-radius: 6, 5;
        -fx-background-insets: 0, 1;
        -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.4) , 5, 0.0 , 0 , 1 );
        -fx-text-fill: #395306;
}

.buttonStart:hover {
    -fx-background-color:
    linear-gradient(#f2f036, #a9ff00),
    radial-gradient(center 50% -40%, radius 200%, #b8ee36 45%, #80c800 50%);
    -fx-background-radius: 6, 5;
    -fx-background-insets: 0, 1;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.4) , 5, 0.0 , 0 , 1 );
    -fx-text-fill: #395306;
}

.inputField {
        -fx-control-inner-background:#d4d22f;
        -fx-background-radius: 10, 10;
        -fx-border-color: #000000;
        -fx-border-radius: 10px;
        -fx-background-insets: 0, 1;
}

.paneTimer {
       -fx-background-color:#d4d22f;
       -fx-background-radius: 10, 10;
       -fx-border-color: #000000;
       -fx-border-radius: 10px;
}

.paneStat {
    -fx-control-inner-background: palegreen;
    -fx-accent: derive(-fx-control-inner-background, -40%);
    -fx-cell-hover-color: derive(-fx-control-inner-background, -20%);
}


.textPaneAddWord {

}